#combo_model
{
    color: #202020;
    background-color: #a6a6a6;
}
#news
{
    margin: 1px; padding: 10px; 
    background-color: rgba(0, 0, 0,0.3); 
    color: rgb(255,255,255); 
    border-radius: 30px; border-width: 3px; 
    border-color: rgba(0,0,0,255);
}